<div id="<%= dom_id weather_status %>">
  <p>
    <strong>Driver:</strong>
    <%= weather_status.driver_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= weather_status.state %>
  </p>

  <p>
    <strong>Areadesc:</strong>
    <%= weather_status.areaDesc %>
  </p>

  <p>
    <strong>Headline:</strong>
    <%= weather_status.headline %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= weather_status.description %>
  </p>

  <p>
    <strong>Effective:</strong>
    <%= weather_status.effective %>
  </p>

  <p>
    <strong>Expires:</strong>
    <%= weather_status.expires %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= weather_status.severity %>
  </p>

  <p>
    <strong>Notified:</strong>
    <%= weather_status.notified %>
  </p>

</div>
